<h1>Hello !</h1>

<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur ce lien :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>
    Si vous n'êtes pas à l'origine cette demande de réinitialisation de mot de passe, vous pouvez ignorer cet e-mail.<br/>
    <b>Votre mot de passe n'a, en aucun cas, été modifié à votre insu.</b>
</p>

<p>
    Bien cordialement,<br />
    <b>Le bureau de l'association DS in Reims.</b>
</p>
