{% extends '@!EasyAdmin/layout.html.twig' %}
{#{% extends '@!EasyAdmin/page/content.html.twig' %}#}

{% block page_title %}Switch in Reims{% endblock %}

{% block main %}

<div class="example-wrapper">
    <h2>Bienvenue <b>à Switch in Reims</b></h2>
    <h3>Adhérents</h3>
    {% for member in unexpiredMembers %}
        {# @var \App\Entity\Member member #}
        <p>{{ member.fullName }}</p>
    {% endfor %}
    <h3>Adhérents expirés</h3>
    {% for member in expiredMembers %}
        {# @var \App\Entity\Member memer #}
        <p>{{ member.fullName }}</p>
    {% endfor %}
</div>
{% endblock %}