{% extends '@!EasyAdmin/layout.html.twig' %}
{#{% extends '@!EasyAdmin/page/content.html.twig' %}#}

{% block page_title %}Switch in Reims{% endblock %}

{% block main %}

<div class="example-wrapper">
    <h2>Bienvenue <b>à Switch in Reims</b></h2>
    <h3>Adherents</h3>
    {% for adherent in adherents %}
    <p>{{adherent.nom}} {{adherent.prenom}}</p>
    {% endfor %}
    <h3>Adherents Expirés</h3>
    {% for adherent in adherentsExpires %}
    <p>{{adherent.nom}} {{adherent.prenom}}</p>
    {% endfor %}
</div>
{% endblock %}