{% extends '@!EasyAdmin/layout.html.twig' %}

{% block page_title %}Switch in Reims{% endblock %}

{% block main %}
    <h1>Bienvenue sur l’espace adhérents de <b>Switch in Reims</b></h1>
    <div class="ratio ratio-16x9">
        <iframe
            src="https://www.youtube.com/embed/BRBB2pblN2I"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen
        />
    </div>
{% endblock %}