<html>
    <head>
        <meta charset="UTF-8">
        <style>
            @page {
                margin: 1px;
            }
            .container {
                background-color: red;
                width: 321px; /** Fera 85 mm avec un dpi de 96 */
                height: 208px; /** Fera 55 mm avec un dpi de 96 **/
            }
        </style>
    </head>
    <body>
        <div class="container"></div>
    </body>
</html>