<h1>Hello !</h1>

<p>Un compte a été créé avec cette adresse e-mail sur <a href="https://adherents.dsinreims.fr">Adhérents DS in Reims</a>.</p>

<p>Voici votre nom d'utilisateur : <b>{{ userName }}</b></p>

<p>
    Pour définir votre mot de passe, veuillez cliquer <a href="https://adherents.dsinreims.fr/reset-password">ici</a> et renseigner votre adresse e-mail.
    Vous recevrez un lien pour réinitialiser votre mot de passe.
</p>

<p>
    Bien cordialement,<br />
    <b>Le bureau de l'association DS in Reims.</b>
</p>