{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends ea.templatePath('layout') %}
{% form_theme form with ea.crud.formThemes only %}

{% block content_title %}
    Changer le mot de passe de "{{ user }}"
{% endblock %}

{% block page_actions %}
    <a class="action-index btn btn-secondary" href="{{ referer }}">Retour</a>
{% endblock %}

{% block main %}
    {{ form(form) }}
{% endblock %}