{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% extends ea.templatePath('layout') %}
{% form_theme form with ea.crud.formThemes only %}

{% trans_default_domain ea.i18n.translationDomain %}

{% block content_title %}
    Changer le mot de passe de "{{ user }}"
{% endblock %}

{% block page_actions %}
    <a class="action-index btn btn-secondary" href="{{ referer }}">Retour</a>
{% endblock %}

{% block main %}
    {% block edit_form %}
        {{ form(form) }}
    {% endblock edit_form %}
{% endblock %}